#Vivado临时文件
*.jou
*.log
*.str
*.os
.Xil/
*.runs/
*.gen/
*.cache/
*.hw/
*.ip_user_files/
*.srcs/utils_1/
*.prm
*.sh
*.backup.*

#编译产物
*.elf
*.bin
*.map
*.o
*.d
*.obj
*.out

#仿真产物
*.vcd
*.saif
xsim.dir/
xvlog.*
xelab.*